/* variables */
:root {
  --color-hero: #f4f6f5;
  --color-text: #ffffff;
  --color-black: #000000;
  --color-primary: #e6c744;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', serif;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Links */
a {
  text-decoration: none;
  color: #242323;
}

/* button */
.btn {
  background-color: var(--color-black);
  font-size: 2.1rem;
  font-weight: 500;
  color: var(--color-text);
  text-transform: uppercase;
  padding: 0.7rem 1.7rem;
  border-radius: 0.7rem;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

/* navbar */
.navbar {
  padding: 2rem 5rem;
  z-index: 1000;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1720px;
  margin: 0 auto;
}

.navbar__logo img {
  width: 192px;
}

.navbar__links {
  display: flex;
  gap: 4rem;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.navbar__item {
  font-size: 2.1rem;
  font-weight: 400;
  line-height: 3.3rem;
  color: #242323;
}

/* hero section */
.hero {
  padding: 0 5rem;
  margin: 0 auto;
}

.hero__container {
  display: flex;

  justify-content: space-between;

  background-color: var(--color-hero);
  border-radius: 5.9rem;
}

.hero__content {
  padding: 6rem 6rem;
}

.hero__title {
  font-size: 8rem;
  line-height: 10rem;
}
.hero__title--style1 {
  background-color: #ffffff;
  display: inline-block;
  width: 370px;
  padding: 0.8rem 2rem;
  transform: rotate(-2deg);
}

.hero__title--style2 {
  background-color: var(--color-primary);
  display: inline-block;
  width: 370px;
  padding: 0.8rem 2rem;
  transform: rotate(-2deg);
}

.hero__subtitle {
  padding: 2rem 0;
  font-size: 2.4rem;
  font-weight: 400;
}

.hero__image {
  flex: 1;
}

.hero__image img {
  height: 650px;
  width: 800px;
}

/* brand section */
.brand {
  margin: 2rem 0;
  padding: 3rem 5rem;

  background-color: var(--color-primary);
}

.brand__logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.brand__logo {
  height: 35px;
}

/* catalogue Section */
.catalogue {
  padding: 2rem 5rem;
}

.catalogue__title {
  font-size: 4.2rem;
  line-height: 5rem;
  margin-bottom: 8rem;
}

.catalogue__products {
  display: flex;
  justify-content: space-between;
}

.catalogue__product img {
  height: 600px;
}

.product__title {
  font-size: 2rem;
  font-weight: 500;
}

.product__description {
  font-size: 1.3rem;
  color: #7f7f7f;
}

.catalogue__description {
  position: relative;
}

.catalogue__description img {
  height: 18px;
  position: absolute;
  right: 0;
  top: 2.2rem;
}

/* Information Section */
.information {
  background: var(--color-primary);
  padding: 0 3rem;
  display: flex;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.information img {
  height: 600px;
  padding-top: 5rem;
  padding-left: 9rem;
}

.information__portion {
  padding-left: 15rem;
}

.information__title {
  font-size: 8rem;
  line-height: 10rem;
  padding-top: 10rem;
}

.information__highlight {
  display: block;
  background-color: #ffffff;
  max-width: 450px;
  padding: 0.1rem 2rem;
}

.information__description {
  margin: 2rem 0;
  font-size: 2.4rem;
  font-weight: 500;
  max-width: 480px;
}

.information__date {
  font-size: 2.9rem;
  font-weight: 700;
}

.information__conditions {
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

/* Favourite Section */
.favourite {
  padding: 2rem 5rem;
}

.favourite__title {
  font-size: 4.2rem;
  line-height: 5rem;
  margin-bottom: 8rem;
  letter-spacing: 0.3rem;
}

.favourite__products {
  display: flex;
  justify-content: space-between;
}

.favourite__product img {
  height: 475px;
}

.favourite__description {
  position: relative;
}

.favourite__description img {
  height: 18px;
  position: absolute;
  right: 0;
  top: 2.2rem;
}

/* App description */
.app {
  padding: 3rem 5rem;
  margin: 3rem 0;
}

.app__container {
  display: flex;
  justify-content: space-around;
}

.app__download {
  padding-top: 12rem;
  padding-left: 5rem;
  max-width: 480px;
}

.download__title {
  font-size: 4.2rem;
  line-height: 6rem;
}

.download__offer {
  margin: 3rem 0;
  font-size: 2rem;
  color: #7c7c7c;
}

.app__design img {
  height: 550px;
  padding-right: 5rem;
}

.app__links {
  max-width: 500px;
}

.app__links img {
  width: 180px;
}

@media (max-width: 376px) {
  .app__design {
    display: none;
  }

  .app__download {
    margin: 0 auto;
    padding: 0;
  }

  .download__title {
    font-size: 2rem;
    line-height: 3rem;
  }

  .download__offer {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.4rem;
    margin: 0;
  }

  .app__links {
    width: 260px;
    gap: 16px;
  }

  .app__links img {
    width: 12.2rem;
  }
}

/* promo section */
.promo {
  height: 450px;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.promo h1 {
  text-align: center;
  line-height: 4.5rem;
  font-size: 3.8rem;
  max-width: 680px;
  letter-spacing: 0.2rem;
  color: var(--color-text);
}

.promo p {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2.2rem;
  font-weight: 100;
  color: #fffcf8;
}

.promo__input {
  background-color: #ffffff;
  display: flex;
  padding: 1rem;
  max-height: 8.7rem;
  max-width: 57.4rem;
  width: 42rem;
  border-radius: 0.8rem;
}

.promo__input input {
  flex: 1;
  padding: 0.3rem 0.9rem;
  margin-right: 3rem;
  border: none;
}

.promo__input input::placeholder {
  font-size: 2rem;
  color: #767676;
}

.promo__input input:focus {
  outline: none;
}

.promo__input--modified-btn {
  max-width: 16.7rem;
  max-height: 6.7rem;
  width: 10rem;
  height: 4.8rem;
}

@media (max-width: 375px) {
  .promo__input {
    width: 100%;
    padding: 1rem 2rem;
  }

  .promo h1 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .promo p {
    font-size: 1.6rem;
  }

  .promo__input input::placeholder {
    font-size: 1.6rem;
  }
}

/* Footer Section */
.footer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 20px;
  background-color: var(--color-black);
  color: #fff;
  padding: 8rem 3rem;
}

.footer__section {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  flex-direction: column;
  gap: 1.8rem;
  padding-left: 3rem;
}

.footer__section h3 {
  font-family: 'Poppins', serif;
  font-size: 3rem;
}

.footer__section p {
  font-size: 2.2rem;

  max-width: 350px;
  line-height: 2.6rem;
  margin: 1rem 0;
  color: #8e8e8e;
}

.footer__heading {
  font-size: 2.4rem;
  font-weight: 100;
  margin: 0;
  color: #d9d9d9;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.footer__links a {
  font-family: 'Poppins', serif;
  font-size: 2.4rem;
  color: #8e8e8e;
}

.icons {
  display: flex;
  max-width: 250px;
  gap: 1.4rem;
}

.icon__border {
  width: 5.2rem;
  height: 5.2rem;
  background-color: var(--color-primary);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .footer__section p {
    font-size: 1.4rem;
    max-width: 100%;
  }

  .footer__links {
    gap: 1.1rem;
  }

  .footer__heading,
  .footer__links a {
    font-size: 1.4rem;
  }
}
